---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Tony Poomipartes" description="About Tony Poomipartes">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Découvrez mon parcours et mes compétences"
			>
				<img
					width="1553"
					height="873"
					src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.explicit.bing.net%2Fth%3Fid%3DOIP.5clsKnuWVq0ewKYqumGKqQHaDg%26pid%3DApi&f=1&ipt=8bca2a39bdb1633399a22272c2e8fd385cc7c17a76fe6f1adc1357002aff485f&ipo=images"
					alt="Tony Poomipartes at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Qui suis-je</h2>
				<div class="content">
          <p>
            Je suis un développeur web orienté Back-end, anciennement électricien. Curieux de nature, touche-à-tout et surtout passionné par la technologie, j'ai décidé de changer de domaine pour me lancer dans le développement web.<br>
            Fort de mes 23 années d'expérience dans l'électricité, ainsi que de mes deux années passées en Australie et en Nouvelle-Zélande, je suis prêt à m'envoler vers de nouvelles opportunités professionnelles.<br>
            Après avoir suivi une formation en développement web, avec une spécialisation en backend, chez O'clock depuis septembre, j'ai hâte de mettre toutes mes compétences au service d'une entreprise à la recherche d'un profil polyvalent.<br>
            Donc, si vous avez besoin de quelqu'un capable de connecter différentes choses (et pas seulement des fils électriques), n'hésitez pas à me contacter !
          </p>
				</div>
			</section>
			<section>
        <h2 class="section-title">Formations</h2>
        <div class="content">
          <div class="title-date">
            <h4>
              <img
              class="icon"
              width="70"
              height="50"
              style="margin-left: -18px; margin-right: -18px;"
              src="/assets/web icons/anssi.png"
              alt="icon anssi"
              />
              (ANSSI) l'agence nationale de la sécurité des systèmes d'information  </h4> 
            <p>mai 2023 à juin 2023</p>
          </div>
          <p>SecNum académie</p>
          <p>Un MOOC de 4 modules sur les bonnes pratiques en entreprise et la cybersécurité</p>
          <ul>
            <li>Panorama de la ssi</li>
            <li>Sécurité de l’authentification</li>
            <li>Sécurité sur internet </li>
            <li>Sécurité du poste de travail et nomadisme </li>
          </ul>
          <img
					width="768"
					height="511"
					src="/assets/attestation_ANSSI.png"
					alt="attestation ANSSI"
				  />
          <br>
          <div class="title-date">
            <h4>
            <img
            class="icon"
            width="35"
            height="35"
            src="/assets/web icons/oclock.png"
            alt="icon o'clock"
            />
            O'Clock 
            </h4> 
            <p>Septembre 2022 à Mars 2023</p>
          </div>
          <p>Formation Développeur Fullstack JavaScript 
            <br>
            (798 heures de cours) niveau 5 (bac+2)
            <br>
            <b>Titre RNCP:</b> développeur web et web mobile (acquis)</p>
            <br>
            <ul>
              <li><b>Saison 1</b>: Créer une page web avec HTML et CSS, decouvrir l'environnement Linux et la ligne de commande et premier pas avec GIT.</li>
              <li><b>Saison 2</b>: Ajouter de l’interactivité dans aux pages avec JavaScript, programmation: variables, fonctions et premiers algorithmes.</li>
              <li><b>Saison 3</b>: Node.js et Express côté serveur.</li>
              <li><b>Saison 4</b>: Programmation Orientée Objet, SQL, UML, MCD et ORM. </li>
              <li><b>Saison 5</b>: SQL, User Stories, Backlog, Sprint, Wireframes et methodo Agile. </li>
              <li><b>Saison 6</b>: API et AJAX. </li>
              <li><b>Saison 7</b>: Collaboration en équipe, cahier des charges ,Wireframes et utilisation avancé de Git.</li>
              <li><b>Saison 8</b>: Adminsys, SSH, Deploy et CMS </li>
              <li><b>Spécialisation API et Data</b>: approfondissement du SQL avec les fonctions utilisateurs et les vues, le NoSQL avec MongoDB, mais aussi découvrir GraphQL et l’IA. Savoir consommer une API, mais aussi savoir en concevoir</li>
              <li><b>Apothéose</b>: un mois à l’élaboration d’un projet dans les conditions du réel d’un développeur en entreprise</li>
            </ul>
            <img
            width="768"
            height="511"
            src="/assets/titre_pro.png"
            alt="titre professionel"
            />
            <br>
            <br>
            <div class="title-date">
              <h4>CFA Delepine</h4> 
              <p>Septembre 1998 à Août 2002</p>
            </div>
            <p>BEP/CAP Électrotechnique</p>
            <br>
            <!-- <h4>Outils &amp; Technologies</h4> -->
        </div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<hr>
            <div class="technologies">
              <div class="technologies-content">
                <h4>Compétences acquises en formation</h4>
                <hr>
                <ul>
                  <li><p>Railway / Netlify</p></li>
                  <li><p>Windows</p></li>
                  <li><p>Bash Linux</p></li>
                  <li><p>Git (versionnement)</p></li>
                  <li><p>HTML</p></li>
                  <li><p>CSS</p></li>
                  <li><p>JavaScript vanilla</p></li>
                  <li><p>Node.js</p></li>
                  <li><p>Express</p></li>
                  <li><p>Sqitch</p></li>
                  <li><p>Sequelize</p></li>
                  <li><p>PostgreSQL</p></li>
                  <li><p>MongoDB</p></li>
                  <li><p>GraphQL</p></li>
                  <li><p>Jest</p></li>
                  <li><p>Joi</p></li>
                  <li><p>JSON Web Token</p></li>
                </ul>
              </div>
              <div class="technologies-content">
                <h4>Compétences en cours d'apprentissage</h4>
                <hr>
                <ul>
                  <li><p>React</p></li>
                  <li><p>TypeScript</p></li>
                  <li><p>Astro</p></li>
                  <li><p>Sass</p></li>
                </ul>
              </div>
              <div class="technologies-content">
                <h4>Compétences que j'aimerais acquérir</h4>
                <hr>
                <ul>
                  <li><p>Solidity</p></li>
                  <li><p>Ganache</p></li>
                  <li><p>Truffle</p></li>
                  <li><p>Hardhat</p></li>
                  <li><p>Rust</p></li>
                </ul>
              </div>
            </div>
				</div>
			</section>
      <section>
        <h2 class="section-title">Centre d'interet</h2>
        <div class="content">
          
          <h4>BlockChain</h4> 
          <p>Cette technologie prodigieuse, ouvre un monde de possibilités infinies !</p>
          <p>Je consacre de nombreuses heures à la veille technologique pour comprendre son écosystème, être à jour sur les dernières actualités, explorer son fonctionnement et découvrir ses nombreux cas d'utilisation.</p>
          <p>J'ai eu la chance incroyable de participer à deux événements qui ont laissé une marque indélébile :</p>
          <ul>
            <li>France Digitale Web3 : un rendez-vous incontournable où j'ai plongé au cœur de l'univers web3 et de ses incroyables applications.</li>
            <li>La Paris Blockchain Week 2023 : un véritable festival de la blockchain où j'ai été fasciné par les avancées technologiques et les projets révolutionnaires.</li>
          </ul>
          <p>Au contact de passionnés et de personnes incroyables lors de ces événements, j'ai énormément appris et grandi dans ma compréhension de la blockchain.</p>
          <img
					width="768"
					height="511"
					src="https://assets-global.website-files.com/632d9fa9f10dfd84922a3c48/64395d7eeb649c8446eacf2b_jpeg-optimizer_FAV4-p-2000.jpg"
					alt="Paris Blockchain Week 2023"
				/>
        <br><br><br><br>
                  
        <h4>Ecologie</h4> 
        <p>Sensible à la cause des animaux et du climat, je veux donner une chance à notre écosystème!</p>
        <p>En tant que végétarien depuis plusieurs années et volontaire pour le ramassage des déchets, je m'efforce d'inculquer ces valeurs à mes enfants avec bienveillance et pédagogie.
        </p>
        <img
        width="768"
        height="511"
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.L7tL-YAKEG1DKxhM9q9cwQHaE7%26pid%3DApi&f=1&ipt=875a7aa331abbf11dd3d2125cb9bebfca228e977210223f23378cb128339e412&ipo=images"
        alt="Ramassage des dechets"
        />
        </div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

  .icon{
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 4px;
    box-shadow: none;
  }

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
    text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}
  
	.content :global(a:hover),
	.content :global(a:focus) {
    text-decoration-color: currentColor;
	}
  
  .title-date{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  h4{
    font-size: var(--text-lg);
  }

  .technologies{
    display: flex;
    flex-direction: column;
    
    /* align-items: baseline; */
  }
	@media (min-width: 60em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}

    .technologies{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
	}
</style>
